<h1>Something about us </h1>
<div id="text">We are an Information Systems and Online Marketing Company.

We have staff skilled in these two sectors and we have the expertise to quickly assemble the right group of people to offer to your company high quality online marketing and web development services.

We are based in the economic hub of South Africa, Johannesburg. 

We strive for high quality services.
</div>
