<h1> These are the services we offer : </h1>
<div id="text">
<ul>
  <li>web strategy </li>
  <li>search engine optimization  </li>
  <li>web application development  </li>
  <li>internet marketing services  </li>
</ul>
</div>
