
<h1>Un mot sur nous  </h1>

<div id="text">Nous sommes une compagnie se specialisant dans les systems d'information et le marketing sur le net

Nous avons du personnel competent dans ces deux secteurs et nous avons une grande capacite d'assembler une equipe des professionnels pour vous offrir les meilleurs services.
Nous sommes bases dans la capitale economique d'Afrique du Sud, a Johannesburg et avons aussi une representation a Kinshasa, RD. Congo

Nous visons toujours une meilleure qualite des services

</div>