
<h1> Voici les services que nous offrons : </h1>
<div id="text">
<ul>
  <li>Strategie web  </li>
  <li>Optimisation du moteur de recherche   </li>
  <li>developpement des applications web  </li>
  <li>services de marketing sur le net  </li>
</ul>
</div>