<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> Diela Information Systems </title>
  
  <%= stylesheet_link_tag 'BrightSide' %>
  
</head>
<body>
<!-- wrap starts here -->
<div id="wrap">
	
	<div id="header">				
			
		<h1 id="logo">DIELA<span class="green"> Information</span><span class="gray"> Systems</span></h1>	
		<h2 id="slogan">We will build your web application... </h2> </BR>
		
		
		
			
		<!-- Menu Tabs -->
		<ul>
			
		</ul>	
													
	</div>	
				
	<!-- content-wrap starts here -->
	<div id="content-wrap">		
											
	<img src="/images/headerphoto.jpg" width="820" height="120" alt="headerphoto" class="no-border" />
		
		<div id="sidebar" >							
				
			
			
			<p>&quot;Men are disturbed, not by the things that happen,
			but by their opinion of the things that happen.&quot;</p>		
				
			<p class="align-right">- Epictetus</p>					
		
		</div>
			
		<div id="main">	
				<p> Contact us on 27-788120189; infos@dielais.com; and mazemb_eddy@yahoo.fr </p>
			
		<%= yield %>
										
			
			
	<!-- content-wrap ends here -->		
	</div>

<!-- footer starts here -->	
<div id="footer">
	
	<div class="footer-left">
		<p class="align-left">			
		&copy; 2008 <strong>Diela Information Systems</strong> |
		Design by <a href="http://www.dielais.com/">DielaIS</a> 
		</p>		
	</div>
	
	<div class="footer-right">
		<p class="align-right">
		<%= link_to "home", {:controller => "viewer", :action => "index"}%>
  		</p>
	</div>
	
</div>
<!-- footer ends here -->
	
<!-- wrap ends here -->
</div>

</body>

</html>
